* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}


@media (orientation: landscape) {

  .navbar{
    background-color: rgb(83, 79, 79);
    justify-content: flex-end;

  }

  .hamburger{
    display: none;
  }

  .menu{
   color: white;
   display: flex;
   flex-flow: row;
   font-weight: bold;
   list-style-type: none;
   padding: 5px;
   font-size: 18px;
   justify-content: space-evenly; 
  }

  .social{
   display: flex;
   flex-flow: row;
   list-style-type: none;
   padding: 5px;
   justify-content: space-evenly; 
  }

  .social_icon{
    font-size: 20;
  }


 
  .product{
    justify-content: space-between;
    align-items: center;
    flex-direction:row  ;
    border-style:groove;
    
  }
  
}

